@import url("font-awesome/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro');

* {
	text-decoration:none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+36,ffffff+66&1+1,0+100 */
background: -moz-linear-gradient(top, rgba(230,230,230,1) 1%, rgba(230,230,230,0.65) 36%, rgba(255,255,255,0.35) 66%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(230,230,230,1) 1%,rgba(230,230,230,0.65) 36%,rgba(255,255,255,0.35) 66%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(230,230,230,1) 1%,rgba(230,230,230,0.65) 36%,rgba(255,255,255,0.35) 66%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#menu-main {
	width: 100%;
	height: 54px;
	background: #000;
	display: flex;
	justify-content: center;
}
.menu-main {
	width: 1235px;
	height: 64px;
	display: flex;	
}
#categories{
	height: 64px;
	display: flex;
}
#categories ul {
	display: flex;
	float: left;
}
#categories ul > li {
	padding-left: 10px;
}
#categories a{
	font: normal normal normal 18px/3.0em 'Source Sans Pro', sans-serif;
    color: #B3B3B3;
    position: relative;
}
#categories ul li .active {
	color: #fff;
}
#categories a:hover{
	 color: gray;
}
#sociais{
	height: 64px;
	display: flex;
	margin-left: auto;	
}
#sociais ul {
	display: flex;
	float: left;
}
#sociais ul > li {
	padding-left: 10px;
}
#sociais i{
	font-size: 20px ;
	line-height: 2.5;
	color: #fff;
    position: relative;
}
.toggle-navigation {
    display: none;
}
.btn-toggle {
    padding: 3px 6px;
    background: none;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.btn-toggle:active {
    background: rgba(240, 240, 240, .1);
}

.sr-only {
    display: none;
}

.icon-nav {
    display: block;
    width: 22px;
    height: 2px;
    background: #f0f0f0;
    border-radius: 1px;
    margin: 4px 0;
}

/*===================================== header =======================*/
.header-main{
	width: 100%;
	height: 575px;
	display: flex;
	background: url('../img/p1.jpg') center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	justify-content: center;
}
.header-main2{
	width: 100%;
	height: 575px;
	display: flex;
	background: url('../img/s2.jpeg') center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	justify-content: center;
}
.header-main3{
	width: 100%;
	height: 575px;
	display: flex;
	background: url('../img/bg4.jpg') center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	justify-content: center;
}
.header-main4{
	width: 100%;
	height: 575px;
	display: flex;
	background: url('../img/c2.jpeg') center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	justify-content: center;
}
#title-main{
	width: 960px;
	height: 575px;
	background: transparent;
	display: flex;
}
.title-main{
	width: 784px;
	height: 163px;
	background: rgba(255, 255, 255, 0.8);
	display: flex;	
	margin: auto;
	justify-content: center;
	flex-wrap: wrap;
}
.title-main h1 {
	font-family: 'Merriweather', serif;;
	font-size: 100px;
	color: #2F2E2E;
}
.sub-title{
	width: 100%;
	height: 40px;
	background: transparent;
	display: flex;
	justify-content: center;
}
.sub-title h6 {
	font-size: 15px;
	color: #000;

}
/*==========================================================MAIN===========================================================*/
main{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background: transparent;	
	justify-content: center;
	
}
#posts{
	width: 980px;
	background: #fff;
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
	padding: 10px;
	
}
.posts{
	width: 100%;
	background: #fff;
	display: auto;	
	justify-content: column;
}
.title-post{
	width: 100%;
	height: 26px;
	background: #fff;
}
.title-post h6{
	font: normal normal normal 20px/1.4em 'Source Sans Pro',sans-serif;
    color: #2F2E2E;
}
.visto-post{
	width: 100%;
	height: 18px;
	background: #fff;
}
.visto-post span{
	font: normal normal normal 13px/1.4em 'Source Sans Pro',sans-serif;
    color: #2F2E2E;	
}
.img-post{
	width: 100%;
	height: 388px;
	background: url('../img/p1.jpg') center no-repeat;
	background-size: cover;	
	margin-top: 10px;
	display: flex;
}
.img-post1{
	width: 100%;
	height: 388px;
	background: url('../img/s3.jpg') center no-repeat;
	background-size: cover;	
	margin-top: 10px;
	display: flex;
}
.img-post2{
	width: 100%;
	height: 388px;
	background: url('../img/bg4.jpg') center no-repeat;
	background-size: cover;	
	margin-top: 10px;
	display: flex;
}
.img-post3{
	width: 100%;
	height: 388px;
	background: url('../img/c2.jpeg') center no-repeat;
	background-size: cover;	
	margin-top: 10px;
	display: flex;
}
.p-post{
	width: 100%;
	background: #fff;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.p-post{
	font: normal normal normal 15px/1.4em 'Source Sans Pro',sans-serif;
    color: #2F2E2E;
}

.galeria{
	width: 100%;
	height: 200px;
	display: flex;
	margin-top: 30px;
	background: transparent;
	justify-content: center;
}
.galeria-main{
	width: 800px;
	height: 200px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.galeria-img{
	width: 100%;
	height: 100%;
	border: 1px solid #e3e3e3;
}
.galeria-img:nth-child(1){
	background: url('../img/g1.jpg') center no-repeat;
	background-size: cover;	
}
.galeria-img:nth-child(2){
	background: url('../img/gt4.jpg') center no-repeat;
	background-size: cover;	
}
.galeria-img:nth-child(3){
	background: url('../img/gt1.jpg') center no-repeat;
	background-size: cover;	
}
.galeria1{
	width: 100%;
	height: 200px;
	display: flex;
	margin-top: 30px;
	background: transparent;
	justify-content: center;
}
.galeria-main1{
	width: 800px;
	height: 200px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.galeria-img1{
	width: 100%;
	height: 100%;
	border: 1px solid #e3e3e3;
}
.galeria-img1:nth-child(1){
	background: url('../img/s1.jpg') center no-repeat;
	background-size: cover;	
}
.galeria-img1:nth-child(2){
	background: url('../img/s2.jpeg') center no-repeat;
	background-size: cover;	
}
.galeria-img1:nth-child(3){
	background: url('../img/s3.jpg') center no-repeat;
	background-size: cover;	
}

.galeria2{
	width: 100%;
	height: 200px;
	display: flex;
	margin-top: 30px;
	background: transparent;
	justify-content: center;
}
.galeria-main2{
	width: 800px;
	height: 200px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.galeria-img2{
	width: 100%;
	height: 100%;
	border: 1px solid #e3e3e3;
}
.galeria-img2:nth-child(1){
	background: url('../img/a1.jpeg') center no-repeat;
	background-size: cover;	
}
.galeria-img2:nth-child(2){
	background: url('../img/a2.jpg') center no-repeat;
	background-size: cover;	
}
.galeria-img2:nth-child(3){
	background: url('../img/bg4.jpg') center no-repeat;
	background-size: cover;	
}

.galeria3{
	width: 100%;
	height: 200px;
	display: flex;
	margin-top: 30px;
	background: transparent;
	justify-content: center;
}
.galeria-main3{
	width: 800px;
	height: 200px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.galeria-img3{
	width: 100%;
	height: 100%;
	border: 1px solid #e3e3e3;
}
.galeria-img3:nth-child(1){
	background: url('../img/c2.jpeg') center no-repeat;
	background-size: cover;	
}
.galeria-img3:nth-child(2){
	background: url('../img/c3.jpg') center no-repeat;
	background-size: cover;	
}
.galeria-img3:nth-child(3){
	background: url('../img/p.jpg') center no-repeat;
	background-size: cover;	
}
/*=============================================================================================*/


footer{
	width: 100%;
	height: 300px;
	background:  rgba(0, 0, 0, 1);
	margin-top: 200px;
	display: flex;
	justify-content: center;
}
.footer-main{
	width: 980px;
	height: 300px;
	background: #000;
	display: auto;
	flex-wrap: wrap;
}
.footer-title{
	width: 100%;
	height: 110px;
	background: #000;
	display: flex;
	border-bottom: 2px solid rgba(47, 46, 46, 1);
}
#footer-title{
	width: 100%;
	height: 30px;
	background: #000;
	display: flex;
	margin: auto;
	justify-content: center;
}
#footer-title h1 {
	font: normal normal normal 25px/1.1em 'Merriweather', serif;
	color: #fff;
}
.footer-sociais {
	width: 100%;
	height: 110px;
	background: #000;
	display: flex;
}
.div{
	width: 100%;
	height: 100%;
	
}
.div:nth-child(1){ background: #000; }
#social{
	width: 100%;
	background: #000;
	display: flex;
	justify-content: center;
}
#social ul {
	display: flex;
	float: left;
}
#social ul > li {
	padding-left: 20px;
}
#social i{
	font-size: 20px ;
	line-height: 2.5;
	color: #fff;
    position: relative;
}
.div:nth-child(2){ 
	background: #000;
	border-left: 2px solid rgba(47, 46, 46, 1);
	border-right: 2px solid rgba(47, 46, 46, 1);
 }
.div:nth-child(3){ background: #000; }

.email {
	width: 100%;
	height: 36px;
	background: re;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.input-email {
	width: 253px;
	border-width: 1.4754098360655736px;
    border-color: #605E5E;
    background-color: #CCCCCC;
    color: #2F2E2E;
    font: normal normal normal 13px/1.4em 'Merriweather', serif;
    padding: 8px;
    border-style: solid;
}
.email-btn{
	width: 253px;
	background-color: rgba(255,255,255,0) !important;
    border-color: #FFFFFF;
    border-width: 1.4754098360655736px;
    font: normal normal normal 13px/1.4em futura-lt-w01-book,sans-serif;
    padding: 9px 24px;
    border-style: solid;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;

}

.copy{
	width: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	margin-top: 10px;

}

.copy i, a{
	font-size: 15px ;
	line-height: 2.5;
	color: #fff;
    position: relative;
}
/*===========================================================================================================================*/
@media screen and (max-width: 420px) {
	body{
		background: #fff;
	}
	.toggle-navigation {
    display: flex;
	}
	#menu-main{
		display: flex;
		justify-content: flex-start;
		height: 40px;
	}
	.menu-main{
		display:none;
	}
	.header-main{
		width: 100%;
		height:627px;
		width: 100%;
		display: flex;
		overflow: hidden;
		justify-content: center;
		
	}
	#title-main{
		background: transparent;
		width: 300px;
		height: 500px;
		display: flex;
	}
	.title-main{
		width: 300px;
		height: 100px;
		background: ;
		display: flex;	
		margin: auto;
		justify-content: center;
		flex-wrap: wrap;
	}
	.title-main h1 {
	font-family: 'Merriweather', serif;;
	font-size:  50px;
	color: #2F2E2E;
	}
	.sub-title h6 {
		font-size:  12px;
		color: #000;

	}
	#posts{
		width: 980px;
		background: #fff;
		display: flex;
		margin-top: 0;
		flex-wrap: wrap;
		padding: 10px;
	
	}
	.posts{
		width: 100%;
		background: #fff;
		display: auto;	
		justify-content: column;
	}
	.title-post{
		width: 100%;
		background: #fff;
	}
	
	.p-post{
		width: 100%;
		background: #fff;
		margin-top: 10px;
		display: flex;
	}
	.p-post{
		font: normal normal normal 13px/1.0em 'Source Sans Pro',sans-serif;
		color: #2F2E2E;
	}
/*============================== GALERY ===================================*/
.galeria{
	width: 100%;
	height: 100px;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent;
	justify-content: center;
	}
.galeria-main{
	width: 800px;
	height: 100px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.galeria1{
	width: 100%;
	height: 100px;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent;
	justify-content: center;
	}
.galeria-main1{
	width: 800px;
	height: 100px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.galeria2{
	width: 100%;
	height: 100px;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent;
	justify-content: center;
	}
.galeria-main2{
	width: 800px;
	height: 100px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.galeria3{
	width: 100%;
	height: 100px;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent;
	justify-content: center;
	}
.galeria-main3{
	width: 800px;
	height: 100px;
	display: flex;
	background: orang;
	margin: auto;
	border: 1px solid #e3e3e3;
	padding: 5px;
}

/*============================================================================================*/
	footer{
		width: 100%;
		height: 100px;
		background:  rgba(0, 0, 0, 1);
		margin-top: 0;
		display: flex;
		justify-content: center;
	}
	.footer-main{
		width: 980px;
		height: 100px;
		background: #000;
		display: auto;
		flex-wrap: wrap;
	}
	
	.footer-sociais {
		display: none;
	}
	.copy{
		width: 100%;
		background: #000;
		display: none;
		justify-content: center;
		margin-top: 40px;
	}
	.part-right{
		display: none;
	}
}



